In [1]:
# creating a pandas series

pandas series is a single column in a spreadsheet.it is a one dimensional array that can hold many type of data such as  numbers,word or even other python objects 

Each value in index is associated with an index



creating an empty pandas series

An empty series contains no data and can be useful when we plan to add values later.we can create a empty Series using pd.Series() function By defalut an empty DSeries has afloat64 data type .

In [2]:
import pandas as pd
ser=pd.Series()
print(ser)

Series([], dtype: object)

In [3]:
# creating an series from numpy array
import pandas as pd
import numpy as np
data=np.array(['g','e','e','k','s'])
ser=pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [4]:
# creating a series form list
list=['g','e','e','k','s']
ser=pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [6]:
# creating a series from dictonary
data_dict={"Geeks":10,"for":20,"geeks":30}
ser=pd.Series(data_dict)
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [9]:
# creating pandas series from numpy function
import pandas as pd
import numpy as np
ser=pd.Series(np.linspace(1,10,5))
display(ser)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [8]:
# creating the series using range() function
ser=pd.Series(range(5,15))
print(ser)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

In [10]:
# creating series using a list comprahensive

In [14]:
ser=pd.Series(range(1,20,3),index=[x for x in 'abcdefg'])
print(ser)

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

### accessing elements of a pandas series 

pandas series can hold data of any type .

elements of series can be xaaccessed by two ways they are 

accessing elements from series with position 
accessing elements using label

## accessing elements from series with position 

in order to access the series elements refers to the index number >use the index[] operator to sccess an elements in a series .index must be integer

in order to access multiple elements from series ,we use slice operator . slice operation is performed on series with the use of the colon(:)

print the elements from beginning to a range use [:index]
print the elements specific index till end use [index:]
print elements within a range [start index: end index]
print the whole series with the series using [:]
print the whole series reverse order [::-1]

In [15]:
# accessing the fiorst elements of series
import pandas as pd
import numpy as np
data = np.array(['g', 'e', 'e', 'k', 's', 'f',
                 'o', 'r', 'g', 'e', 'e', 'k', 's'])

ser=pd.Series(data)
print(ser)

0     g
1     e
2     e
3     k
4     s
5     f
6     o
7     r
8     g
9     e
10    e
11    k
12    s
dtype: object

In [16]:
print(ser[10])

e

In [17]:
# accessing the first five elements from  a series
print(ser[:5])

0    g
1    e
2    e
3    k
4    s
dtype: object

In [19]:
# accessing last 10 elements
print(ser[-10:])

3     k
4     s
5     f
6     o
7     r
8     g
9     e
10    e
11    k
12    s
dtype: object

In [20]:
# Binary operations on pandas and series

# Binary operations involve applying mathematical or logical operations on two objects

The most common binary operations include

Arthematic operations : addition ,substraction, multiplication and division

comparison opeartions : equal to ,not equal to ,greater than, lesser than  etc..

logical operation : And or etc...

In [21]:
# 1 arthematic operation on series 

#  arthematic operation between two series is applied in element wise .the index label must allign for the opearation to work
# if indexes doesnot match,pandas will fill in missing values with NaN

In [23]:
import pandas as pd
s1=pd.Series([10,20,30],index=['a','b','c'])
s2=pd.Series([1,2,3],index=['a','b','c'])
result=s1+s2
print(result)

a    11
b    22
c    33
dtype: int64

In [24]:
# comparison operation on series 
s1=pd.Series([10,20,30])
s2=pd.Series([10,25,30])
result=s1==s2

print(result)

0     True
1    False
2     True
dtype: bool

In [26]:
# Binary operation on pandas DataFrame 

# 1 Arthematic operation on dataframes

# substracting dataframes
df1=pd.DataFrame({'A':[10,20,30],'B':[40,50,60]})
df2=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})

In [27]:
result=df1-df2
print(result)

    A   B
0   9  36
1  18  45
2  27  54

In [28]:
# comparision operation on dataframes

In [29]:
import pandas as pd
df1=pd.DataFrame({'A':[10,20,30],'B':[40,50,60]})
df2=pd.DataFrame({'A':[5,10,30],'B':[40,50,60]})
result=df1>df2
print(result)

       A      B
0   True  False
1   True  False
2  False  False

In [30]:
# Logical operation on Dataframe and series

In [31]:
# pandas always supports logical operations on DataFrames and series .these are commonly used for filtering and applying condition

In [33]:
import pandas as pd
s1=pd.Series([True,False,False,True])
s2=pd.Series([True,False,True,False])
result=s1&s2
print(result)

0     True
1    False
2    False
3    False
dtype: bool

In [34]:
# pandas series index attribute

In [35]:
# pandas series is a one dimensional array capable of holding any data type

In [37]:
# Ex : data.index() 
data=pd.Series([10,20,30,40],index=["a","b","c","d"])
print("original index",data.index)

original index Index(['a', 'b', 'c', 'd'], dtype='object')

In [38]:
# change array index 
data.index=["w","x","y","z"]
print("Modified Series",data)

Modified Series w    10
x    20
y    30
z    40
dtype: int64

In [41]:
# creating a pandas series without custom index 
import pandas as pd
import numpy as np
array=np.array(["a","b","c","d","e"])
s=pd.Series(array)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [43]:
# creating a pandas series with a index
import pandas as pd
import numpy as np
array=np.array(["a","b","c","d","e"])
s=pd.Series(array,index=[1000,1001,1002,1003,1004])
print(s)

1000    a
1001    b
1002    c
1003    d
1004    e
dtype: object

In [44]:
# pandas read CVS in python

In [46]:
import pandas as pd
df=pd.read_csv("people_data.csv")
print(df)

  First Name Last Name     Sex                       Email Date of birth  \
0     Shelby   Terrell    Male        elijah57@example.net    1945-10-26
1    Phillip   Summers  Female       bethany14@example.com    1910-03-24
2   Kristine    Travis    Male       bthompson@example.com    1992-07-02
3    Yesenia  Martinez    Male   kaitlinkaiser@example.com    2017-08-03
4       Lori      Todd    Male  buchananmanuel@example.net    1938-12-01

            Job Title
0     Games developer
1      Phytotherapist
2           Homeopath
3   Market researcher
4  Veterinary surgeon

In [47]:
df

,First Name,Last Name,Sex,Email,Date of birth,Job Title
0,Shelby,Terrell,Male,elijah57@example.net,1945-10-26,Games developer
1,Phillip,Summers,Female,bethany14@example.com,1910-03-24,Phytotherapist
2,Kristine,Travis,Male,bthompson@example.com,1992-07-02,Homeopath
3,Yesenia,Martinez,Male,kaitlinkaiser@example.com,2017-08-03,Market researcher
4,Lori,Todd,Male,buchananmanuel@example.net,1938-12-01,Veterinary surgeon

In [49]:
# features in pandas using read_csv
# read specific columns using read_csv

# usecols is used for read specific columns 
df=pd.read_csv("people_data.csv",usecols=["First Name","Email"])
df

  First Name                       Email
0     Shelby        elijah57@example.net
1    Phillip       bethany14@example.com
2   Kristine       bthompson@example.com
3    Yesenia   kaitlinkaiser@example.com
4       Lori  buchananmanuel@example.net

In [50]:
# setting an index column(index_col)
# index_col : The index_col parameter sets one or more columns as the DataFrame index

In [52]:
df=pd.read_csv("people_data.csv",index_col="First Name")
df

,Last Name,Sex,Email,Date of birth,Job Title
First Name,,,,,
Shelby,Terrell,Male,elijah57@example.net,1945-10-26,Games developer
Phillip,Summers,Female,bethany14@example.com,1910-03-24,Phytotherapist
Kristine,Travis,Male,bthompson@example.com,1992-07-02,Homeopath
Yesenia,Martinez,Male,kaitlinkaiser@example.com,2017-08-03,Market researcher
Lori,Todd,Male,buchananmanuel@example.net,1938-12-01,Veterinary surgeon

In [53]:
# handling missing values using read_csv
# na_values

In [54]:
# saving a pandas dataframe as a csv
# here we use to_csv() method : by default the to_csv() ethod exports dataFrame to a csv file row 
# index as first column and comma as the delimeter

In [55]:
import pandas as pd

# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]

In [56]:
dict={"name":nme,"degree":deg,"score":scr}
df=pd.DataFrame(dict)

In [57]:
df

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [58]:
# export csv to working directory
df.to_csv("file.csv")

In [59]:
df.to_csv("file2.csv",header=False,index=False)

In [60]:
# save the csv file to a specific location 
df.to_csv(r"C:\Users\rakes\file3.csv")

In [61]:
# write a dataframe to csv file using tab seperator

In [63]:
import pandas as pd
import numpy as np
users={"Name":["Amit","cody","Drew"],
       "Age":[20,21,25]}
df=pd.DataFrame(users,columns=["Name","Age"])
print("Original dfataFrame:\n")
print(df)

Original dfataFrame:

   Name  Age
0  Amit   20
1  cody   21
2  Drew   25

In [64]:
print("Data from users.csv")
df.to_csv("Users.csv",sep="\t",index=False,header=True)

Data from users.csv

In [66]:
new_df=pd.read_csv("users.csv")
new_df

  Name\tAge
0  Amit\t20
1  cody\t21
2  Drew\t25

In [67]:
# exporty pandas dataframe to csv file

When we are working with data science project one of the key tasks is data management which includes data collection,cleaning and storage once our data is cleaned and processed its essential for further analysis and sharing

In [68]:
# creating a sample dataframe

In [69]:
import pandas as pd
scores = {'Name': ['a', 'b', 'c', 'd'],
          'Score': [90, 80, 95, 20]}
df=pd.DataFrame(scores)
df

  Name  Score
0    a     90
1    b     80
2    c     95
3    d     20

In [70]:
# Basic export:
# the simple way to export a dataframe to a csv file by using the to_csv() function

In [74]:
df.to_csv("your_name.csv")

In [72]:
# remove index column 
# The to_csv() exports the index column
# index=False

In [73]:
df.to_csv("your_name.csv",index=False)

In [75]:
# export only selected columns

In [76]:
df.to_csv("your_name.csv",columns=["Name"])

In [78]:
# handling missing values 
df.to_csv("your_names",na_rep="nothing")

In [79]:
# how to read JSON files with pandas

JSON(javascript object Notation) stores data using key-value pair 
reading with JSON files using pandas is simple and helpfull when you're working with data in .json format.

In [80]:
# there are mainly three methods to read json file using pandas

In [81]:
# Using pd.read_json() method
# using JSON Modules and pd.json_normalize() method
# using pd.Dataframe() methods

In [82]:
[

    {"id": 1, "name": "Alice", "age": 25},

    {"id": 2, "name": "Bob", "age": 30},

    {"id": 3, "name": "Charlie", "age": 22}

]

[{'id': 1, 'name': 'Alice', 'age': 25},
 {'id': 2, 'name': 'Bob', 'age': 30},
 {'id': 3, 'name': 'Charlie', 'age': 22}]

In [83]:
# Using pd.read_json() to read JSON files in pandas 
import pandas as pd
df=pd.read_json("data.json")
print(df.head())

FileNotFoundError: File data.json does not exist

In [84]:
# using json

In [85]:
# converting text file to CSV using python pandas refers to the process of transforming a plain text 
# file into structured CSV file using pandas library

import pandas as pd
df=pd.read_csv("geeksforgeeks.txt")
df1=to_csv("geeksforgeeks.xsv")